@import "../../node_modules/bootstrap/less/bootstrap";
@import "../../node_modules/bootstrap/less/theme";

#HomeButton {
    position: absolute;
    top: 95px;
    left: 35px;
    z-index: 50;
}

#Search {
      display: block;
      position: absolute;
      z-index: 2;
      top: 20px;
      left: 75px;
}
