@import "../../node_modules/bootstrap/less/bootstrap";
@import "../../node_modules/bootstrap/less/theme";

.navbar {
  margin-bottom: 5px;
}

.navbar-brand {
  padding: 5px 15px 15px 15px;

  > img {
      display: inline;
  }
}

#navigator-left {
  background-color: #ffffff;
}

li > a.btn-ico {
  padding: 10px 15px;

  > img {
    height: 25px;
    margin: 5px;
  }
}

#tocPanel {
  height: inherit;

  > div {
    overflow: auto;
    height: inherit;
  }
}

#mapPanel {
  height: inherit;

  #map {
    width: 100%;
    height: 100%;
  }
}

#home {
  position: absolute;
  top: 95px;
  left: 35px;
  z-index: 50;
}

#location {
  position: absolute;
  top: 128px;
  left: 35px;
  z-index: 50;
}

#search {
  display: block;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 75px;
}

.pageOverlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  display: block;
  background: #ffffff;
}

.loadingImage {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 50%;
  top: 50%;
  background-color: #f4f4f4;
  color: #999;
  border-radius: 50%;
  margin-left: -32px;
  margin-top: -32px;
  @shadow: 0 0 10px rgba(0,0,0,.3);
  opacity: 0.8;

  img {
    margin: 12px;
  }
}

.loadingMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -110px;
  color: #bbb;
  text-align: center;
  width: 198px;
  height: 80px;
  background: transparent url("/images/rohayhuve_asu.png") no-repeat;
}

#coordinates {
  font-size: small;
  position:absolute;
  top: 0;
  right:10px;
  color:#444;
  z-index:50;
}

#attribution {
  font-size: small;
  position:absolute;
  bottom: 0;
  right:0;
  color:#444;
  z-index:50;
}

#main-region {
  width: 100%;
  height: 100%;
}

#measure.esriMeasurement {
  width: 350px;
  height: 200px;
  position: absolute;
  right: 150px;
  top: 0;
  z-Index:50;
  background-color: #fff;
  border: 1px solid #aaa;
  border-top-width: 0;
}

.esriToggleButton {
  box-sizing: initial;
}

#layers.esriLayerList {

  .esriTitleContainer, .esriContainer {
    border: none;
  }

  .esriList {
    .list-group;
  }

  .esriLayer {
    .list-group-item;
  }
}
