<p class="clearfix"></p>
<div id="identifyNoResults" class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class='text-center'>
                <span class='glyphicon glyphicon-info-sign text-icon'></span>
            </h1>
            <p class='text-mutted'>Puede acceder a información contextual haciendo click en el mapa.</p>
        </div>
    </div>
</div>
<div class="visible-xs">
    <button class="showMap btn btn-default col-xs-12">IR AL MAPA</button>
</div>

<div class="col-md-12 hidden text-center">
    <div id="identifyResults"></div>
</div>