<h3>Direcciones</h3>
<form onsubmit="return false">
    <div class="form-group">
        <label for="addressText">Calle</label>
        <input id="addressText" type="text" autocomplete="off"
               class="form-control autocomplete"
            required="required"
            placeholder="Ingrese la calle principal">
    </div>
    <div class="form-group">
        <label for="numberText">Número</label>
        <input id="numberText" type="number" autocomplete="off" class="form-control"
            placeholder="Numeración">
    </div>
    <div class="form-group">
        <label for="intersectionText">Intersección</label>
        <input id="intersectionText" type="text" autocomplete="off"
               class="form-control autocomplete"
               placeholder="Intersección">
    </div>
    <hr>
    <div class="form-group">
        <button class="btn btn-default btn-md" type="reset">Limpiar</button>
        <button class="btn btn-success btn-md" type="submit">Buscar</button>
    </div>
</form>
<div id="addressResults">

</div>