<h3>Lotes</h3>
<form  onsubmit="return false">
    <h4>Cuenta corriente catastral</h4>
    <div class="form-group">
        <label class="sr-only" for="zoneText">Zona</label>
        <div class="input-group">
            <div class="input-group-addon">Z</div>
            <input id="zoneText" type="number" autocomplete="off" class="form-control"
            placeholder="Zona" required="required">
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only" for="blockText">Manzana</label>
        <div class="input-group">
            <div class="input-group-addon">M</div>
            <input id="blockText" type="number" autocomplete="off" class="form-control"
            placeholder="Manzana" required="required">
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only" for="parcelText">Lote</label>
        <div class="input-group">
            <div class="input-group-addon">L</div>
            <input id="parcelText" type="number" autocomplete="off" class="form-control"
               placeholder="Lote" required="required">
        </div>
    </div>
    <i class="text-muted">Escriba la cuenta corriente conocida (10-380-0)</i>
    <h4>Sub-cuenta</h4>
    <div class="form-group">
        <label class="sr-only" for="floorText">Piso</label>
        <div class="input-group">
            <div class="input-group-addon">P</div>
            <input id="floorText" type="text" autocomplete="off" class="form-control"
            placeholder="Piso">
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only" for="flatText">Departamento</label>
        <div class="input-group">
            <div class="input-group-addon">D</div>
            <input id="flatText" type="number" autocomplete="off" class="form-control"
            placeholder="Departamento">
        </div>
    </div>
    <i class="text-muted">Escriba la sub-cuenta conocida (12-0588-29 00000)</i>
    <hr>
    <div class="form-group">
        <button class="btn btn-default btn-md" type="reset">Limpiar</button>
        <button class="btn btn-success btn-md" type="submit">Buscar</button>
    </div>
</form>
<div id="parcelResults">

</div>