<div class="col-md-12">
    <ul id="locatorTabs" class="nav nav-tabs nav-justified" role="tablist">
        <li class="active">
            <a href="#address" data-toggle="tab" role="tab">Direcciones</a>
        </li>
        <li>
            <a href="#parcel" data-toggle="tab" role="tab">Lotes</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="address" role="tabpanel" class="tab-pane active"></div>
        <div id="parcel" role="tabpanel" class="tab-pane"></div>
    </div>
</div>