<ul class="nav navbar-nav">
    <li>
        <button class="btn-link identify-action" data-toggle="tooltip" data-placement="bottom" title="Identificar">
            <img src="images/ico-identify.png">
            <span class="sr-only">Identificar</span>
        </button>
    </li>
    <li>
        <button class="btn-link geolocate-action" data-toggle="tooltip" data-placement="bottom" title="Busquedas avanzadas">
            <img src="images/ico-search.png">
            <span class="sr-only">Busquedas avanzadas</span>
        </button>
    </li>
    <li>
        <button class="btn-link measure-action" data-toggle="tooltip" data-placement="bottom" title="Medir">
            <img src="images/ico-measure.png">
            <span class="sr-only">Medir</span>
        </button>
    </li>
    <li>
        <button class="btn-link print-action" data-toggle="tooltip" data-placement="bottom" title="Imprimir">
            <img src="images/ico-print.png">
            <span class="sr-only">Imprimir</span>
        </button>
    </li>
    <li>
        <button class="btn-link layers-action" data-toggle="tooltip" data-placement="bottom" title="Lista de Capas">
            <img src="images/ico-layers.png">
            <span class="sr-only">Lista de Capas</span>
        </button>
    </li>
    <li>
        <button class="btn-link legend-action" data-toggle="tooltip" data-placement="bottom" title="Leyenda">
            <img src="images/ico-legend.png">
            <span class="sr-only">Leyenda</span>
        </button>
    </li>
    <li>
        <button class="btn-link basemap-action" data-toggle="tooltip" data-placement="bottom" title="Mapa base">
            <img src="images/ico-basemap.png">
            <span class="sr-only">Mapa base</span>
        </button>
    </li>
</ul>