<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#" class="btn-ico" role="button" data-target="#identify"
            title="Identificar"
            data-content="Identificar cualquier punto al hacer un click sobre el mapa">
            <img src="images/ico-identify.png">
            <span class="hidden-lg hidden-md hidden-sm">Identificar</span>
        </a>
    </li>
    <li>
        <a href="#" class="btn-ico toolbar-group" data-target="#search"
            title="Busquedas"
            data-content="Busqueda avanzada de calles, lotes y copropiedad">
            <img src="images/ico-search.png">
            <span class="hidden-lg hidden-md hidden-sm">Busquedas</span>
        </a>
    </li>
    <li>
        <a href="#" class="btn-ico" role="button" data-target="#measure"
            data-toggle="tooltip" data-placement="bottom"
            title="Medir"
            data-content="Medir área, longitud y obtener coordenadas">
            <img src="images/ico-measure.png">
            <span class="hidden-lg hidden-md hidden-sm">Medir</span>
        </a>
    </li>
    <li>
        <a href="#" class="btn-ico toolbar-group" role="button" data-target="#print"
            data-toggle="tooltip" data-placement="bottom"
            title="Imprimir"
            data-content="Impresión de mapas">
            <img src="images/ico-print.png">
            <span class="hidden-lg hidden-md hidden-sm">Imprimir</span>
        </a>
    </li>
    <li>
        <a href="#" class="btn-ico toolbar-group" role="button" data-target="#layers"
            data-toggle="tooltip" data-placement="bottom"
            title="Capas"
            data-content="Visualizar la lista de capas disponibles">
            <img src="images/ico-layers.png">
            <span class="hidden-lg hidden-md hidden-sm">Capas</span>
        </a>
    </li>
    <li>
        <a href="#" class="btn-ico toolbar-group" role="button" data-target="#legend"
           data-toggle="tooltip" data-placement="bottom"
           title="Leyenda"
           data-content="Visualizar las leyendas de las capas listadas">
            <img src="images/ico-legend.png">
            <span class="hidden-lg hidden-md hidden-sm">Leyenda</span>
        </a>
    </li>
</ul>