<button id="identify-action" data-dojo-type="dijit/form/ToggleButton">
    <img class="btn-ico" src="images/ico-identify.png">
</button>
<div data-dojo-type="dijit/Tooltip"
     data-dojo-props="connectId: 'identify-action', position: ['below']">
    Identificar cualquier punto al hacer un click sobre el mapa</div>
<button id="geolocate-action" data-dojo-type="dijit/form/ToggleButton" class="toolbar-group">
    <img class="btn-ico" src="images/ico-search.png">
</button>
<div data-dojo-type="dijit/Tooltip"
     data-dojo-props="connectId: 'geolocate-action',  position: ['below']">
    Busqueda avanzada de calles, lotes y copropiedad</div>
<button id="measure-action" data-dojo-type="dijit/form/ToggleButton">
    <img class="btn-ico" src="images/ico-measure.png">
</button>
<div data-dojo-type="dijit/Tooltip"
     data-dojo-props="connectId: 'measure-action', position: ['below']">
    Medir área, longitud y obtener coordenadas</div>
<button id="print-action" data-dojo-type="dijit/form/ToggleButton" class="toolbar-group">
    <img class="btn-ico" src="images/ico-print.png">
</button>
<div data-dojo-type="dijit/Tooltip"
     data-dojo-props="connectId: 'print-action', position: ['below']">
    Imprime tus mapas</div>
<button id="layers-action" data-dojo-type="dijit/form/ToggleButton" class="toolbar-group">
    <img class="btn-ico" src="images/ico-layers.png">
</button>
<div data-dojo-type="dijit/Tooltip"
     data-dojo-props="connectId: 'layers-action', position: ['below']">
    Lista de capas</div>
<button id="legend-action" data-dojo-type="dijit/form/ToggleButton" class="toolbar-group">
    <img class="btn-ico" src="images/ico-legend.png">
</button>
<div data-dojo-type="dijit/Tooltip"
     data-dojo-props="connectId: 'legend-action', position: ['below']">
    Ver leyendas</div>
<button  id="basemap-action" data-dojo-type="dijit/form/ToggleButton" class="toolbar-group">
    <img class="btn-ico" src="images/ico-basemap.png">
</button>
<div data-dojo-type="dijit/Tooltip"
     data-dojo-props="connectId: 'basemap-action', position: ['below']">Mapas base</div>