<div class="searchControl">
    <div class="form-group has-feedback">
        <input id="searchText" type="text" placeholder="Buscar en el mapa" class="form-control" autocomplete="off">
        <i class="glyphicon glyphicon-search form-control-feedback gray"></i>
        <span class="glyphicon glyphicon-remove form-control-feedback gray clear-input hidden"></span>
    </div>
</div>
<div class="panel panel-default hidden">
    <div class="panel-body small-padding">
        <div id="searchResults" class="ui relaxed selection list"></div>
        <div id="searchNoResults" class='text-center'>
            <h4>
                <span class='glyphicon glyphicon-exclamation-sign text-warning'></span>
            </h4>
            <p class='text-mutted'>No se encontraron coincidencias</p>
        </div>
    </div>
</div>